@font-face {
    font-family: 'TitleScreen';
    src: url('./../fonts/titleScreen/TitleScreen.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }


.canvas {
  /* image-rendering: pixelated; */
  width: calc(1vw + 1vh + 150vmin);
  height: calc(1vw + 1vh + 95vmin); 
  background-color: rgb(0, 0, 0);
  	
  }

.outerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background-color: rgb(27, 27, 27);
  cursor: url('./../images/newCursor.png'), auto;
}

.title_text {
  font-family: 'TitleScreen';
}


.left_adventure {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}